<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="true" />
    <add key="Audience" value="https://enterprise.dignityhealth.org" />
    <add key="ConsumerAudience" value="https://ciam.dignityhealth.org" />
    <add key="Issuer" value="https://dignityhealthcorp.oktapreview.com/oauth2/ausbzp23r6uODMsAU0h7" />
    <add key="ConsumerIssuer" value="https://dignityhealth.oktapreview.com/oauth2/ausb2b0jbri7MsQGl0h7" />
    <add key="IssuerMetadataEndpoint" value="/.well-known/openid-configuration" />
    <add key="SwaggerNoAuthHeader" value="signinuser,refreshauthtoken,getapplicationupgrade,signoutuser,forgotpassword,getrecoveryquestionandstatetoken,validateanswerandstatetoken,resetpassword,enrolluser,deleteregistration,addemailvalidationdetails" />

    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />

    <!--Mediasite Keys-->
    <add key="MS_EndPointURI" value="http://ms.barrowmedia.com/mediasite/" />
    <add key="MS_MinutesToLive" value="1440" />

    <add key="AccessPolicyName" value="https://kvl-usw1-curb-slot1-dev.vault.azure.net/secrets/AccessPolicyName" />
    <add key="AccountSid" value="https://kvl-usw1-curb-slot1-dev.vault.azure.net/secrets/AccountSid" />
    <add key="AuthToken" value="https://kvl-usw1-curb-slot1-dev.vault.azure.net/secrets/AuthToken" />
    <add key="BlobAccountName" value="https://kvl-usw1-curb-slot1-dev.vault.azure.net/secrets/BlobAccountName" />
    <add key="BlobContainer" value="https://kvl-usw1-curb-slot1-dev.vault.azure.net/secrets/BlobContainer" />
    <add key="BlobStorageConnectionString" value="https://kvl-usw1-curb-slot1-dev.vault.azure.net/secrets/BlobStorageConnectionString" />
    <add key="CurbsideConnection" value="https://kvl-usw1-curb-slot1-dev.vault.azure.net/secrets/CurbsideConnection" />
    <add key="MS_APIKey" value="https://kvl-usw1-curb-slot1-dev.vault.azure.net/secrets/MS-APIKey" />
    <add key="MS_UserName" value="https://kvl-usw1-curb-slot1-dev.vault.azure.net/secrets/MS-UserName" />
    <add key="MS_Password" value="https://kvl-usw1-curb-slot1-dev.vault.azure.net/secrets/MS-Password" />
    <add key="SendGridAccountKey" value="https://kvl-usw1-curb-slot1-dev.vault.azure.net/secrets/SendGridAccountKey" />

    <add key="SendGridFromAddress" value="no-reply@dignityhealth.org" />
    <add key="SendGridFromName" value="Dignity Health Customer Support" />
    <add key="CurbsideAppBaseUrl" value="https://web-usw1-curbsideapp-slot1-dev.ase-usw1-shared-ppe.p.azurewebsites.net/#/verify-email" />
    <add key="CIAMBaseUrl" value="https://web-usw1-ciamweb-slot1-dev.ase-usw1-shared-ppe.p.azurewebsites.net/api" />
    <add key="SendMessageText" value="Barrow Neuro Network. Please use this code to validate your mobile phone number: " />
    <add key="FromPhoneNumber" value="+14028107083" />
    <add key="ClientId" value="c069b7d3-2a6d-489c-a7d0-8c5548466a6e" />
    <add key="ThumbPrint" value="A40E43964F05A76F8E4EAEEDEAA58A547F178316" />

    <add key="AppInsightsInstrumentationKey" value="3c291b09-d45a-4d44-9b27-425a0789dbd6" />
    <add key="NotificationsConnectionString" value="Endpoint=sb://nhn-usw1-curbside-sandbox.servicebus.windows.net/;SharedAccessKeyName=DefaultFullSharedAccessSignature;SharedAccessKey=2ZNb67hKQDyyd2IweY0IMSCOXKpa8TUUlVcaR9gOLuA=" />
    <add key="NotificationHubPath" value="nhb-usw1-curbside-sandbox" />
    <add key="EnableTrace" value="true" />
    <add key="MediaSitePlaybackUrl" value="http://ms.barrowneuro.org/mediasite/play/" />

    <add key="CorsOrigin" value="*" />
    <add key="CorsHeaders" value="*" />
    <add key="CorsMethods" value="*" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
